<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../assets/css/mobileList.css">
    <link rel="shortcut icon" href="../assets/favicon.jpg" />
    <title>Inventur</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

    <div id="itemDiv">
        <div class="ml-3 mt-3 mr-3 p-3 border border-dark border-2">
            <div class="row">
                <div class="col-6">
                    <b>Lagerort</b>
                </div>
                <div class="col-6 text-right">
                    <b id="storage"></b>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 ">
                    <b>Lagerplatz</b>
                </div>
                <div class="col-3">
    
                </div>
                <div class="col-3 text-right">
                    <b id="storage_place"></b>
                </div>
            </div>
        </div>
     
    
        <div id="itemlist_div" class="container-fluid" data-index="0">
            <div class="row mt-3 mb-3">
                <div class="col-7 font-weight-bold pl-4">Artikelnummer</div>
                <div id="id" class="col-5 text-right pr-4"></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-3 font-weight-bold pl-4">Name</div>
                <div id="name" class="text-right pr-3 col-9 pr-4"></div>
            </div>
            <div id="amountDiv" class="row mt-3 mb-3 pt-1 pb-1">
                <div id="amountTh" class="col-7 font-weight-bold pl-4"></div>
                <div id="amount" class="col-5 text-right pr-4"></div>
            </div>
 
        </div>
    
        <div id="switch" class="d-flex justify-content-center">
            <img class="" src="../assets/svg/cross.svg">
        </div>
    
        <div class="fixed-bottom mb-4">
            <div id="page_div" class="row mb-2">
                <div class="col-1"></div>
                <div id="arrow_back" class="col-3 text-center" onclick="renderItemData($('#itemlist_div').attr(`data-index`) - 1)"> <img src="../assets/svg/arrow_left.svg" alt=""> </div>
                <div id="view_all" class="col-4 text-center" onclick="toggleView(); renderListTableData();">Alle</div>
                <div id="arrow_forward" class="col-3 text-center" onclick="renderItemData(parseInt($('#itemlist_div').attr(`data-index`)) + 1)"> <img src="../assets/svg/arrow_right.svg" alt=""> </div>         
            </div>
            <div class="row">
                <div class="col text-center">
                    Artikel <span id="curr_page"></span> von <span id="total_pages"></span>
                </div>
            </div>
        </div>
    </div>
  
    <div id="listDiv" class="container border">
        <table class="table table-hover table-fixed">
            <thead>
                <tr class="d-flex">
                    <th class="col-3 text-center">Artikel</th>
                    <th class="col-4 text-center">Lagerort</th>
                    <th class="col-4 text-center">Lagerplatz</th>
                    <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
    <footer></footer>

    <script src="../assets/js/jquery/jquery-3.2.1.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        let data = JSON.parse(`<%- data %>`); //get all data from the server
        let tableIndex = $("#itemlist_div").data("index"); 
        let url = window.location.pathname;
        let id = url.substring(url.lastIndexOf('/') + 1);
        //get all svg´s
        let svg_paths = ["../assets/svg/cross.svg", "../assets/svg/check.svg", "../assets/svg/warning.svg"];

        $("#total_pages").text(data.length);
        renderItemData(tableIndex);

        renderListTableData();

        //render all data in the table
        function renderItemData(tableIndex){
            if(typeof data[tableIndex] !== 'undefined'){
                
                $("#itemlist_div").attr("data-index", tableIndex); //updates the data property of the table
                $("#curr_page").text(tableIndex + 1);      //updates page number

                loadSvg(tableIndex);

                let obj = data[tableIndex];
                $("#id").text(obj.stock_id);
                $("#name").text(obj.articleName);
                $("#amount").text(obj.amount);
                if(obj.lay_in == 1){
                    $("#amountTh").text("Einlagern");
                    $("#amountDiv").css("background-color", "rgba(131,255,131,0.6)");
                }else{
                    $("#amountTh").text("Auslagern");
                    $("#amountDiv").css("background-color", "rgba(131,195,255,0.6)");
                }
                $("#storage").text(data[tableIndex].storage);
                $("#storage_place").text(data[tableIndex].storage_place);
            }
        }

        function renderListTableData(){
            let tbody = $("#listDiv table tbody");
            let storageStates = JSON.parse(localStorage.getItem("mobileList")).states;
            $(tbody).html("");
            for(var i = 0; i < data.length; i++){
                $(tbody).append(`
                    <tr class="d-flex pr-1" data-index="${i}">
                        <td class="col-3">${data[i].articleName}</td>
                        <td class="col-4">${data[i].storage}</td>
                        <td class="col-4">${data[i].storage_place}</td>
                        <td class="col-1" style="padding-left: 0; padding-right: 0;"><img src="${svg_paths[storageStates[i]]}" alt=""></td>
                    </tr>
                `)
            }
        }

        function loadSvg(tableIndex){
            let storage = localStorage.getItem("mobileList");

            if(storage === null || JSON.parse(storage).id != id){
                let states = new Array(data.length).fill(0);
                let json = {"id": id, "states": states};
                localStorage.setItem("mobileList", JSON.stringify(json));
            }else if(JSON.parse(storage).id == id){
                let state = JSON.parse(storage).states[tableIndex];
                $("#switch img").attr("src", svg_paths[state]);
            }
        }

        //switch svg when button was clicked
        $("#switch img").click(function(){
            let curr_path = $(this).attr("src");
            let curr_index = svg_paths.findIndex(ele => ele == curr_path);
            let next_index;
            //set index to 0 if the end of the array is reached 
            curr_index == svg_paths.length - 1 ? next_index = 0 : next_index = curr_index + 1;
            //set new svg
            $(this).attr("src", svg_paths[next_index]);
            $(this).attr("data-index", next_index);

        
            //update localStorage
            let table_index = document.getElementById("itemlist_div").dataset.index;
            $.ajax({
                url: '/list',
                type: 'PUT',
                data: `list_id=${data[table_index].list_id}&stock_id=${ data[table_index].stock_id},&status=${next_index}}`,
                success: function(data) {
                }
            });
            let storage = JSON.parse(localStorage.getItem("mobileList"));
            storage.states[table_index] = next_index;
            localStorage.setItem("mobileList", JSON.stringify(storage));
        });

        //load one item if it was clicked in list
        $("body").on("click", "#listDiv tbody tr", function(){
            let index = $(this).attr("data-index");
            toggleView();
            renderItemData(parseInt(index));
        })

        function toggleView(){
            $("#itemDiv").toggle();
            $("#listDiv").toggle();
        }
    </script>
</body>
</html>
